  body {
    background-color: #696969;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  
  path {
    fill: none;
    stroke-width: 1.5;
    clip-path: url(#clip);
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 1px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  .svg-content {
    display: inline-block;
    position: absolute;
    top: +50px;
    left: 850px;
  }
  
  .btn-group button {
  position: relative;
  left: 230px;
  top: 470px;
  background-color: gray; /* Green background */
  border: .5px solid black; /* Green border */
  color: black; /* White text */
  padding: 8px 20px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */

}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: lightblue;
}
