  body {
    background-color: #696969;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  
  path {
    fill: none;
    stroke-width: 1.5;
    clip-path: url(#clip);
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 1px;
    border-radius: 4px;
    pointer-events: none;
  }
  
  button {
    position: relative;
    left: 30px;
    bottom: 320px;
  }
  
  .svg-content {
    display: inline-block;
    position: absolute;
    top: +50px;
    left: 850px;
  }
